<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= title %></title>
    <link rel='stylesheet'href='/stylesheets/style.css'/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container5">
        <h1>My Courses</h1>
        <div class="row">
          <div class="col-md-3">
            <div class="thumbnail">
              <a href="/images/ali.jpg" target="_blank">
                <img src="/images/ali.jpg" alt="Lights" style="width:100%">
                <div class="caption">
                  <p>Officer Cadet</p>
                </div>
              </a>
            </div>
          </div>
          <div class="col-md-3">
            <div class="thumbnail">
              <a href="/images/ali.jpg" target="_blank">
                <img src="/images/ali.jpg" alt="Lights" style="width:100%">
                <div class="caption">
                  <p>Computer Operator</p>
                </div>
              </a>
            </div>
          </div>
          <div class="col-md-3">
            <div class="thumbnail">
              <a href="/images/ali.jpg" target="_blank">
                <img src="/images/ali.jpg" alt="Lights" style="width:100%">
                <div class="caption">
                  <p>Kharidar</p>
                </div>
              </a>
            </div>
          </div>
          <div class="col-md-3">
            <div class="thumbnail">
              <a href="/images/ali.jpg" target="_blank">
                <img src="/images/ali.jpg" alt="Lights" style="width:100%">
                <div class="caption">
                  <p>Nayab Subba</p>
                </div>
              </a>
            </div>
          </div>
          <div class="col-md-3">
            <div class="thumbnail">
              <a href="/images/ali.jpg" target="_blank">
                <img src="/images/ali.jpg" alt="Lights" style="width:100%">
                <div class="caption">
                  <p>Inspector</p>
                </div>
              </a>
            </div>
          </div>
          <div class="col-md-3">
            <div class="thumbnail">
              <a href="/images/comp.jpg" target="_blank">
                <img src="/images/comp.jpg" alt="Nature" style="width:100%">
                <div class="caption">
                  <p>Section Officer</p>
                </div>
              </a>
            </div>
          </div>
          <div class="col-md-3">
            <div class="thumbnail">
              <a href="/images/ali.jpg" target="_blank">
                <img src="/images/ali.jpg" alt="Nature" style="width:100%">
                <div class="caption">
                  <p>Overseer</p>
                </div>
              </a>
            </div>
          </div>
          <div class="col-md-3">
            <div class="thumbnail">
              <a href="/images/comp.jpg" target="_blank">
                <img src="/images/comp.jpg" alt="Fjords" style="width:100%">
                <div class="caption">
                  <p>Anusandhan Sahayak</p>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
      
      
    
</body>
</html>