<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= title %></title>
    <link rel='stylesheet'href='/stylesheets/style.css'/>
    
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
</head>
    

<body class="home">
    <div class="container-fluid display-table">
        <div class="row display-table-row">
            <div class="col-md-2 col-sm-1 hidden-xs display-table-cell v-align box" id="navigation">
                <!-- <div class="logo">
                    <a hef="home.html"><img src="http://jskrishna.com/work/merkury/images/logo.png" alt="merkery_logo" class="hidden-xs hidden-sm">
                        <img src="http://jskrishna.com/work/merkury/images/circle-logo.png" alt="merkery_logo" class="visible-xs visible-sm circle-logo">
                    </a>
                </div> -->
                <div class="navi">
                    <ul>
                        <li class="active"><a href="#"><i class="fa fa-home" aria-hidden="true"></i><span class="hidden-xs hidden-sm">My Dashboard</span></a></li>
                        <li><a href="/Courses"><i class="fa fa-tasks" aria-hidden="true"></i><span class="hidden-xs hidden-sm">My Courses</span></a></li>
                        <li><a href="#"><i class="fa fa-bar-chart" aria-hidden="true"></i><span class="hidden-xs hidden-sm">New Courses</span></a></li>
                        <li><a href="#"><i class="fa fa-user" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Discussion</span></a></li>
                        <li><a href="#"><i class="fa fa-certificate" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Certificates</span></a></li>
                        <li><a href="#"><i class="fa fa-cog" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Setting</span></a></li>
                    </ul>
                </div>
            </div>

            
            <div class="col-md-10 col-sm-11 display-table-cell v-align">
                <!--<button type="button" class="slide-toggle">Slide Toggle</button> -->
                <div class="row">
                    <!-- <header>
                        <div class="col-md-7">
                            <nav class="navbar-default pull-left">
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle collapsed" data-toggle="offcanvas" data-target="#side-menu" aria-expanded="false">
                                        <span class="sr-only">Toggle navigation</span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                </div>
                            </nav>
                            <div class="search hidden-xs hidden-sm">
                                <input type="text" placeholder="Search" id="search">
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="header-rightside">
                                <ul class="list-inline header-top pull-right">
                                    <!-- <li class="hidden-xs"><a href="#" class="add-project" data-toggle="modal" data-target="#add_project">Contribute</a></li> -->
                                    <!-- <li><a href="#"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
                                    <li>
                                        <a href="#" class="icon-info">
                                            <i class="fa fa-bell" aria-hidden="true"></i>
                                            <span class="label label-primary">3</span>
                                        </a>
                                    </li>

                                    </ul>
                                    </div>
                                    </div>
                                    </header> --> 
                                    <p1>Course Completed</p1>
                                    <div class="pie" style="--p:20"> 20%</div>
                                
                                    <!-- <div class="pie" style="--p:40;--c:darkblue;--b:10px"> 40%</div> -->
                                    <p2>Mock Test</p2>
                                    <div class="pie no-round" style="--p:60;--c:purple;--b:15px"> 60%</div>
                                   
                                    <!-- <div class="pie animate no-round" style="--p:80;--c:orange;"> 80%</div> -->
                                     <p3>Quiz</p3>
                                    <div class="pie animate" style="--p:90;--c:lightgreen"> 90%</div>
                                    <div class="content">
                                        <h5>Progress Report</h5>
                                        <div class="row">
                                          <div class="col-md-3">
                                            <div class="thumbnail">
                                              <a href="/images/B9OujCJm7c9n9NxfBfCy (1).png" target="_blank">
                                                <img src="/images/B9OujCJm7c9n9NxfBfCy (1).png" alt="Lights" style="width:100%">
                                                <div class="caption">
                                                  <p>You have completed 20% of the courses.Keep studying. </p>
                                                  <a href="#" class="btn btn-primary">Continue Courses</a>
                                                </div>
                                              </a>
                                            </div>
                                          </div>
                                          <div class="col-md-3">
                                            <div class="thumbnail">
                                              <a href="/images/gyangossip-mock-test.png" target="_blank">
                                                <img src="/images/gyangossip-mock-test.png" alt="Nature" style="width:100%">
                                                <div class="caption">
                                                  <p>You are doing really well on mocktest.So, why don't you test yourself more.</p>
                                                  <a href="#" class="btn btn-primary">Continue Mocktest</a>
                                                </div>
                                              </a>
                                            </div>
                                          </div>
                                          <div class="col-md-3">
                                            <div class="thumbnail">
                                              <a href="/images/Quizjpg.jpg" target="_blank">
                                                <img src="/images/Quizjpg.jpg" alt="Nature" style="width:100%">
                                                <div class="caption">
                                                  <p>Congratulations, You have completed 90% of quizes.</p>
                                                  <a href="#" class="btn btn-primary">Continue Quiz</a>
                                                </div>
                                              </a>
                                            </div>
                                          </div>
                                         
                                          </div>
                                        </div>
                                      </div>
                       
                
                                   
                                    </div>
                                    </div>
                                    </div>
                                    </div>

                                
                                   
                                   

                                </body>

</html>